body {
  margin: 0;
  padding: 0;
  background-color: #f5f6fa;
}

#root {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 100px;
  box-shadow: outer 0 0 60px 0 rgba(0, 0, 0, 0.5);
  background-color: #fafafa;
  border-radius: 4px;
}


